* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f3f6;
}

.m-7 {
    margin: 0px 0px 0px !important;
}

.mt-0 {
    position: fixed;
    top: 0%;
    z-index: 80;
    text-align: center !important;
}

.bg-blue {
    background-color: #48afff;
}

.bg-blue1 {
    background-color: #0885e6;
}

.nav-height {
    height: 4.5rem;
}

.mt-6 {
    margin-top: 71px;
}

.strike1 {
    font-size: 0.9rem;
    color: red;
}

.strike2 {
    /* font-size: ; */
    color: black !important;
}

.card-button-font-size {
    font-size: 0.6rem;

}

.border-none {
    border: none;
}

.input-width {
    height: 42px;
    background-color: white;
    width: 27rem;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid black; */
    border-radius: 7px 0px 0px 7px;
    border-right: none;
    outline: none;

}

/* .input-width:focus{
    border: 1px solid black; 
    border-left:none;
} */

.input-icon {
    height: 42px;
    background-color: white;
    width: 40px;
    border-radius: 0px 7px 7px 0px;
    background-color: white;
    color: #48afff;
}

.grid-card2-width {
    width: 50%;
    /* height: 60% !important; */
}

.btn-light {
    color: #48afff;
}

.button-grid {
    font-size: 0.7rem;
}

.navbar-Position {
    top: 0px;
    z-index: 100;
    /* opacity: 0; */
}

.textblue1 {
    color: #0078d4;
}

.tablet-crosal-p {
    position: relative;
    bottom: 5px;
}

.owl-carousel2 {
    margin-top: 0px !important;
}

.bg-blue2 {
    background-image: linear-gradient(to right, #f83e87, #f2d43d, #ef7219, #f2d43d, #f83e87);
}

.width1 {
    width: 190px;
    text-align: end !important;
}

.margin0 {
    margin-left: -9%;
}

.width2 {
    width: 100%;
}

.c-b {
    border-width: 20%;
    border: solid #f1f3f6;
}

.m-b-0 {
    margin-bottom: 0px;
}

.back-img {
    z-index: 55;

    background-image: url(./image/section-earbuds-bg-md.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* background-size: cover height: 300px  !important; */
    background-size: 100% !important;

}


.back-3img {
    z-index: 55;

    background-image: url(./image/section-mobiles-bg-md.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% !important;
}

.back-2img {
    z-index: 55;

    background-image: url(./image/section-smart-watches-bg-md\ \(1\).png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% !important;
}


.back-4img {
    z-index: 55;

    background-image: url(./image/section-tablet-bg-md.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% !important;
}

/* .card-width2 :hover{
    background-color: antiquewhite;

} */

.card-width {
    /* z-index: 55 !important; */
    cursor: pointer;
}


.wrap1 {
    flex-wrap: wrap !important;
}

.grid-main-image {
    width: 80% !important;
}

.opasity {
    opacity: 0;
}

.card-width {
    width: 250px;
    height: 320px;
}

.card-img-width {
    width: 120px;
    height: 120px;
}

div .card-width {
    background-color: #ffff;
}

.align-content-evenly1 {
    align-content: space-evenly;
}




.grid-p {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1fr 1fr;
}

#grid-c1 {
    grid-row: 1/3;

}

.grid-m {
    margin: 0px 80px;
}

@media (max-width:1100px) {
    .media-1 {
        grid-template-columns: 50% 50%;

    }

    /* .back-img {
        z-index: 55;

        background-image: url(./image/section-earbuds-bg-md.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 100% 200px !important
    }

    .back-2img {
        z-index: 55;

        background-image: url(./image/section-smart-watches-bg-md\ \(1\).png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 100% 200px !important
    }

    .back-3img {
        z-index: 55;

        background-image: url(./image/section-mobiles-bg-md.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 100% 200px !important;

    }


    .back-4img {
        z-index: 55;

        background-image: url(./image/section-tablet-bg-md.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 100% 200px !important;

    } */

    .grid-main-image {
        width: 90% !important;
    }


    .back-img {
        background-color: #f83e87;
    }

    .back-2img {
        background-color: #ef7219;
    }

    .back-3img {
        background-color: #f2d43d;
    }

    .back-4img {
        background-color: #f83e87;
    }
}



@media (max-width:800px) {
    .grid-m {
        margin-left: 10px;
        margin-right: 10px;
    }

    .grid-main-image {
        width: 60% !important;
    }

    .media-1 {
        grid-template-areas: "pic1 pic1"
            "pic2 pic3"
            "pic4 pic5";

    }

    #grid-c1 {
        /* grid-row: 1/3 ; */
        grid-area: pic1;
    }

    #grid-c2 {
        grid-area: pic2;

    }

    #grid-c3 {
        grid-area: pic3;

    }

    #grid-c4 {
        grid-area: pic4;

    }

    #grid-c5 {
        grid-area: pic5;

    }

}


.btns {
    flex-wrap: wrap;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 0.8rem;
}

.btns button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    background-color: #f8ea1e;
    padding: 15px;
    width: 290px;
    border: none;
    border-radius: 8px;
}

/* .gap-6{
    column-gap: 150px;
    row-gap: 20px;
} */

.card-width2 {
    width: 200px !important;
    height: 480px;
    background-color: #ffff;
}

.bg-blue-footer {
    background-color: #48afff;
    /* height: 300px; */
}

.bg-blue-footer-2 {
    background-color: #2a98ed;
    /* height: 30px; */
}

.pr-footer {
    padding-right: 13%;
}

p a {
    font-size: 0.8rem;
    /* margin: 0 !important; */
}

p a :hover {
    color: yellow !important;
    /* transition: all;
    transition-duration: 0.5s; */
}

.pr-footer-2 {
    padding-right: 40%;
}


.card-button-font-size2 {
    font-size: 0.6rem !important;

}


.btns button:hover {

    background-color: #48afff;
    color: white;
    padding: 13px;
    transition: 0.5s;
    font-size: 0.9rem;
}

.ad-bottom-card-width {
    padding: 20px 15px;
    background-color: #0078d4;
}

.pr-2 {
    padding-right: 39px;
}

.image-shadow {
    background-color: #2a98ed;
    border-radius: 40px;

}

.button1 {
    padding: 6px 18px;
    /* padding-bottom: 11px; */
    background-color: #fba338;
    font-size: 0.8rem;
}

.tablet-crosal {
    position: relative;
    bottom: 8px;
}

@media (max-width:350px) {
    .width1 {
        width: 170px;
    }

    .button-size {
        font-size: 0.8rem;
    }

    .tablet-crosal {
        position: relative;
        bottom: 29px;
    }

    .tablet-crosal-p {
        position: relative;
        bottom: 22px;
    }

    .start-img {
        text-align: center !important;
        width: 100%;

    }
}

.Tt-card {
    padding: 10px
}

.Tt-main {
    padding-bottom: 20px;
}

.date {
    font-size: 0.8rem;
    color: #808080;
}

.hover2:hover {
    color: #48afff !important;
    transition: all;
    transition-duration: 0.5s !important;
    cursor: pointer;
    background-color: whitesmoke;
    font-size: 1rem;
    border-radius: 5px;
}

.radius {
    border-radius: 30px;
    outline: none;
    border: none;


}

.review-text {
    font-size: 13px;
}

.hover3:hover {
    color: #48afff !important;
    transition: all;
    transition-duration: 0.5s !important;
    cursor: pointer;
}

.pb1 {
    height: 350px !important;
}

.review {
    width: 8%;
    /* height: 150px; */
}

.position {
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media (max-width:528px) {



    .forcostumer {
        font-size: 0.8rem;
    }

    .crosal-t-small {
        font-size: 0.7rem;
    }

    .Copyright {
        font-size: 1rem;
    }

    /* .review {
        width: 50px;
         height: 150px; 
    } */

    .tablet-crosal {
        padding-top: 0px !important;
    }

    .responsive {
        display: flex !important;
        flex-direction: column;
    }

    .m-b-1 {
        padding-bottom: 130px;

    }

    .user-alert {
        font-size: 1rem;
    }

    /* .login{
        margin-right: 10px !important;
    }  */




}

.Know {
    font-size: 1rem;
}

@media (max-width:322px) {
    .m-b-1 {
        padding-bottom: 160px;
    }

    .button-size {
        font-size: 0.6rem;
    }
}

.pb1 {
    height: 350px !important;
}

@media (max-width:294px) {
    .m-b-1 {
        padding-bottom: 195px;
    }

    /* .button-size{
        font-size: 0.4rem;
    } */
}

.text-blue {
    color: #48afff;
}

.shadow1 {
    box-shadow: -0.1px -0.1px 2px #000 !important;
    opacity: 0.9;
    background-color: #59b6fe;

    width: 100%;
}

.Know {
    font-size: 1rem;
}




.image-shadow2 {
    background-color: #2a98ed;
    border-radius: 90%;
    border: 1px solid #2a98ed;
    box-shadow: 5px 5px 10px 13px #2a98ed !important;
}

.pl-2 {
    padding-left: 35px;
}

.ad-bottom-card-width2 {
    width: 230px;
}

/* .hover-1 :hover {
    border-bottom: 3px solid #48afff;
} */